<app-delta-form></app-delta-form>
<div class="container mat-elevation-z8">
    <!-- <table>
        <thead>
            <tr>
                <th>Metal</th>
                <th>Bid</th>
                <th>Ask</th>
                <th>Change</th>
                <th>Change%</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let metal of metals">
                <td><span>{{ metal.data.symbol }}</span></td>
                <td><span>{{ metal.data.bid }}</span></td>
                <td><span>{{ metal.data.ask }}</span></td>
                <td><span>{{ metal.data.oneDayChange }}</span></td>
                <td><span>{{ metal.data.oneDayPercentChange }}</span></td>
            </tr>
        </tbody>
    </table> -->
    <table mat-table [dataSource]="metals">

        <!-- symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Metal </th>
          <td mat-cell *matCellDef="let element"> {{element.data.symbol}} </td>
        </ng-container>
    
        <!-- bid Column -->
        <ng-container matColumnDef="bid">
          <th mat-header-cell *matHeaderCellDef> Bid </th>
          <td mat-cell *matCellDef="let element"> {{element.data.bid}} </td>
        </ng-container>
    
        <!-- ask Column -->
        <ng-container matColumnDef="ask">
          <th mat-header-cell *matHeaderCellDef> Ask </th>
          <td mat-cell *matCellDef="let element"> {{element.data.ask}} </td>
        </ng-container>
    
        <!-- oneDayChange Column -->
        <ng-container matColumnDef="oneDayChange">
          <th mat-header-cell *matHeaderCellDef> Change </th>
          <td mat-cell *matCellDef="let element"> {{element.data.oneDayChange}} </td>
        </ng-container>
    
        <!-- oneDayPercentChange Column -->
        <ng-container matColumnDef="oneDayPercentChange">
          <th mat-header-cell *matHeaderCellDef> Change% </th>
          <td mat-cell *matCellDef="let element"> {{element.data.oneDayPercentChange | percent }} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>